<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telescope HUD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Telescope HUD</h1>

        <div class="panel status-panel">
            <h2>Status</h2>

            <div class="status-grid">
                <div>
                    <strong>Altitude:</strong>
                    <span id="altitude">0</span><span>&#176;</span>
                </div>
                <div>
                    <strong>Azimuth:</strong> 
                    <span id="azimuth">0</span><span>&#176;</span>
                </div>
                <div><strong>Speed:</strong> <span>1</span></div>
                <div><strong>Tracking:</strong> <span>Off</span></div>
                <div><strong>Moving:</strong> <span>No</span></div>
                <div><strong>Last Action:</strong> <span>None</span></div>
            </div>

            <p class="system-message">
                <strong>System Message:</strong>
                <span>System ready</span>
            </p>
        </div>

        <!-- MOVEMENT PANEL -->
        <div class="panel controls-panel">
            <h2>Movement</h2>

            <div class="movement-grid" >
                <div></div>
                <button onmousedown="mouseDown('up')" onmouseup="mouseUp('up')">Up</button>
                <div></div>
                <button onmousedown="mouseDown('left')" onmouseup="mouseUp('left')">Left</button>
                <button class="stop-btn">Stop</button>
                <button onmousedown="mouseDown('right')" onmouseup="mouseUp('right')">Right</button>
                <div></div>
                <button onmousedown="mouseDown('down')" onmouseup="mouseUp('down')">Down</button>
            </div>
        </div>

        <div class="panel controls-panel">
            <h2>System Controls</h2>
            <div class="button-row">
                <button onclick="test()">THE BIG TEST</button>
                <button>Tracking On</button>
                <button>Tracking Off</button>
            </div>
        </div>

        <div class="panel controls-panel">
            <h2>Speed Controls</h2>
            <div class="button-row">
                <button>Speed -</button>
                <button>Speed +</button>
            </div>
        </div>

        <div class="panel log-panel">
            <h2>Response</h2>
            <p>No commands sent yet.</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>